<div class="d-flex flex-column vh-100">

  <div class="container mt-3">
    <div class="row">
      <div class="col text-center">
        <h1>Find your path</h1>
        <div *ngIf="!hasBackendApi()" class="mb-3">
          <small>Backend Api missing. Using mock data for from France to Latvia</small>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="travelPath" (ngSubmit)="onSubmit()">
    <div class="container">

      <div class="row">
        <div class="col-md-6 offset-md-3">

          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <input matInput [formControlName]="'originCountry'" placeholder="Origin country" required [matAutocomplete]="originCountryAuto">

                <mat-error *ngIf="travelPath.get('originCountry').errors" class="text-right">
                  <ng-container *ngIf="travelPath.get('originCountry').hasError('required')">
                    Origin country is required
                  </ng-container>
                  <ng-container *ngIf="travelPath.get('originCountry').hasError('codeName') && !travelPath.get('originCountry').hasError('required')">
                    {{travelPath.get('originCountry').getError('codeName').value}}
                  </ng-container>
                </mat-error>

                <mat-autocomplete #originCountryAuto="matAutocomplete" [displayWith]="displayName">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}} <small>({{option.alpha3Code}})</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <input matInput [formControlName]="'destinationCountry'" placeholder="Destination country" required [matAutocomplete]="destinationCountryAuto">

                <mat-error *ngIf="travelPath.get('destinationCountry').errors" class="text-right">
                  <ng-container *ngIf="travelPath.get('destinationCountry').hasError('required')">
                    Destination country is required
                  </ng-container>
                  <ng-container *ngIf="travelPath.get('destinationCountry').hasError('codeName') && !travelPath.get('destinationCountry').hasError('required')">
                    {{travelPath.get('destinationCountry').getError('codeName').value}}
                  </ng-container>
                </mat-error>

                <mat-autocomplete #destinationCountryAuto="matAutocomplete" [displayWith]="displayName">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.name}} <small>({{option.alpha3Code}})</small>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>

      <div class="row my-3">
        <div class="col-md-6 offset-md-3 d-flex justify-content-between">
          <button mat-raised-button color="primary" type="submit" [disabled]="!travelPath.valid">Search for path</button>
          <button mat-raised-button color="warn" type="reset" (click)="clearPath(); message.dismiss()">Reset</button>
        </div>
      </div>

    </div>
  </form>

  <div class="container-fluid px-0 mt-5 flex-grow-1" #mapContainer>
    <div class="row no-gutters">
      <div class="col agm-map__wrap-init-height">

        <agm-map [style.height.px]="mapContainer.offsetHeight" [latitude]="mapStartPosition[0]" [longitude]="mapStartPosition[1]" [scrollwheel]="true" [zoom]="4">
          <agm-polyline [strokeColor]="'red'">
            <agm-polyline-point *ngFor="let country of path" [latitude]="country.coordinates.lat" [longitude]="country.coordinates.lng">
              <agm-marker [latitude]="country.coordinates.lat" [longitude]="country.coordinates.lng"></agm-marker>
            </agm-polyline-point>
          </agm-polyline>
        </agm-map>

      </div>
    </div>
  </div>
</div>
