@mixin round-border($radius, $right-top: $radius, $right-bottom: $radius, $left-bottom: $radius) {
  -webkit-border-radius: $radius $right-top $right-bottom $left-bottom;
  -moz-border-radius: $radius $right-top $right-bottom $left-bottom;
  border-radius: $radius $right-top $right-bottom $left-bottom;
}

@mixin round-border-right-bottom($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin round-border-left-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin color-transparency-for($attribute, $color, $transparency) {
  #{$attribute}: rgba($color, $transparency);
}

@mixin transition-of-property($property, $durationInMs, $function) {
  -webkit-transition: $property $durationInMs + ms $function;
  -moz-transition: $property $durationInMs + ms $function;
  -ms-transition: $property $durationInMs + ms $function;
  -o-transition: $property $durationInMs + ms $function;
  transition: $property $durationInMs + ms $function;
}
